@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

.bg-typo {/* sert de background pour tout le site internet avec la bonne typo */
    background-color: #282C33 !important;
    font-family: 'Fira Code', monospace;
}

.color-special-char {/* couleur des caractères spéciaux */
    color: #C778DD;
}

.border-button {/* bordure des boutons */
    border-color: #C778DD;
}